ul {
  list-style: none;
  padding: 0;
}

li.user {
  height: 20px;
  padding: 5px;
}

.message {
  margin-left: 0px;
}

h3.message-header {
  line-height: 5px;
}

.message-body {
  overflow-wrap: break-word;
}

.userList {
  float: left;
  width: 100px;
}

.chatContainer{
  margin-left: 105px;
}

.chatLog {
  height: 90vh;
}

.chatInput {
  width: 100%;
  margin-bottom: 15px;
  position: fixed;
  bottom: 0;
}